@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main navigation"
    "main main aside"
    "footer footer footer";
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 20% 5% 65% 10%;
  column-gap: 10px;
  row-gap: 16px;
  height: 95%;
}

.container * {
  border-radius: 10px;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #df5c53;
}

.navigation {
  grid-area: navigation;
  background-color: #eafa73;
}

.aside {
  grid-area: aside;
  background-color: #13b6c5;
}

.main {
  grid-area: main;
  background-color: #3993DD;
  height: 100%;
  padding: 10px;
}

.article {
  background-color: #44CF6C;
  margin: 10px;
  height: 20rem;
}

.second-article {
  height: 27%;
}

.section {
  background-color: #A9FDAC;
  margin: 10px;
  height: 5rem;
}

.footer-main {
  background-color: #E0ACD5;
}

.footer {
  grid-area: footer;
  background-color: #E0ACD5;
}